.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
}

.pagination__item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  cursor: pointer;
}

.pagination__item_active {
  background-color: #FF5C00;
  cursor: default;
}