.advantages {
  padding: 90px 0 0;
}

.advantages__content-wrapper {
  justify-content: center;
  align-items: center;
}

.advantages__description {
  gap: 30px;
}

@media (max-width: 1024px) {
  .advantages__image {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .advantages {
    padding: 60px 0 0;
  }
}

@media (max-width: 586px) {
  .advantages__content-wrapper {
    padding: 0 40px;
  }

  .advantages__image {
    display: none;
  }
}